{% extends 'consensus_base/base.html' %}

{% block content %}


<div class="login container">
{% if internal_authentication %}
  <div class="row">
    <div class="col-sm">
        <h2>Login</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
{% endif %}
    <div class="col-sm">
        <h2>Sign-in with:</h2>
        <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
        <hr/>
        <a class="btn btn-dark" href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
        <hr/>
        <a class="btn btn-light" href="{% url 'social:begin' 'gitlab' %}">Login with GitLab</a><br>
    </div>
  </div>
</div>
{% endblock %}
