<div class="pagination">
<span class="step-links">
{% if paginated_items.has_previous %}
<a href="?page={{ paginated_items.previous_page_number }}">previous</a>
{% endif %}

<span class="current">
Page {{ paginated_items.number }} of {{ paginated_items.paginator.num_pages }}.
</span>

{% if paginated_items.has_next %}
<a href="?page={{ paginated_items.next_page_number }}">next</a>
{% endif %}
</span>
</div>
